.highlight {
  position: relative;
  width: 100%;
  height: 400px;

  canvas {
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0,0,0,0.1);
  }

  .ui {
    position: absolute;
    right: 0px;
    top: 0px;
    max-width: 100%;
  }

}

