/* intentionally empty at the moment */

.img-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  column-gap: 20px;
  row-gap: 0px;
  max-width: 100%;
}

.img-grid-item {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 0.5em;

  .gradient {
    margin-top: 1px;
    height: 30px;
  }

  canvas {
    aspect-ratio: 2 / 1.5;    
  }

}

.img-grid img {
  width: 100%;
  border: 1px solid #888;
}

.adjustment {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;

  .widget {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .labeled-range {
    display: flex;
    justify-content: space-between;
    font-family: monospace;
    text-align: right;
  }
  .labeled-range>div {
    flex: 1 1 auto;
    display: flex;
  }

  .image, canvas {
    max-width: 400px;
    min-width: 50px;
    width: 400px;
    height: 250px;
    background-size: cover;
    background-position: center;
  }

  .colorRange {
    border: 1px solid gray;
    margin: 2px;
 
    input[type="color"] {
      opacity: 0;
      width: 2em;
      height: 2em;
    }
  }

  .arrow {
    width: 4em;
    height: 2em;
    background-image: url('/webgpu/lessons/resources/arrow-right.svg');
    background-size: constrain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (width < 840px) {

  .img-grid {
    grid-template-columns: repeat(auto-fit, 150px);
  }

}